* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: hsl(216, 12%, 8%);
    font-size: 15px;
    font-family: "Overpass", sans-serif;
    color: hsl(0, 100%, 100%);
}

main {
    background: linear-gradient(180deg, hsl(213, 19%, 18%), hsl(213, 19%, 10%));
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 24px 32px;
}

.shadow {
    background: hsl(213, 19%, 22%);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
}