* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: hsl(216, 12%, 8%);
    font-size: 15px;
    font-family: "Overpass", sans-serif;
    color: hsl(0, 100%, 100%);
}

main {
    background: linear-gradient(180deg, hsl(216, 20%, 17%), hsl(216, 27%, 12%));
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 24px 32px;
    border-radius: 24px;
}

.shadow {
    background: hsl(216, 18%, 19%);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
    border: none;
    color: hsl(217, 3%, 55%);
    font-weight: 800;
}

h1 {
    font-size: 28px;
    margin-bottom: 12px;
}

p {
    color: hsl(217, 3%, 55%);
    font-size: 15px;
}

.starIcon {
    margin-bottom: 28px;
}

section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 24px 0;
}

section button {
    cursor: pointer;
}

section .unclickedButton:hover {
    background: hsl(0, 100%, 100%);
    color: hsl(216, 12%, 8%);
}

.submitButton {
    width: 100%;
    height: 42px;
    background: hsl(25, 97%, 53%);
    border: none;
    border-radius: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.submitButton:hover {
    background: hsl(0, 100%, 100%);
}

.thankyouPage {
    align-items: center;
    text-align: center;
    padding: 40px 32px;
}

.ratingDisplay{
    background: hsl(216, 18%, 19%);
    color: hsl(25, 58%, 46%);
    padding: 6px 16px;
    border-radius: 16px;
    margin: 28px;
}

.selectedRatingButton{
    background: hsl(25, 58%, 46%);
    color: hsl(216, 18%, 19%);
}

@media (max-width: 420px) {
    main {
        transform: scale(0.8);
    }
}